*.[oa]
*.so
*.os
*.sid

hvsc_test
*.swp
*~
/doc/doxygen/html/

# autotool stuff
.deps/
/autom4te.cache/
/config/
Makefile
Makefile.in
aclocal.m4
autoscan.log
app.info
compile
config.log
config.h
config.h.in
config.status
configure
configure.scan
coverage_report
depcomp
install-sh
libtool
m4
missing
stamp-h1

